@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-inter {
        font-family: 'Inter-Regular';
    }
    .text-jakarta {
        font-family: 'PlusJakartaSans-Regular';
    }
}

/* Base text styling to attach the default font to RN Text components */
Text,
TextInput {
    font-family: 'Inter-Regular';
}